<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="classpath*:rec/vertex.xml"/>

    <bean id = "graphA" class="com.jth.mydag.graph.Graph">
        <property name="context" ref="graphContext"/>
    </bean>

    <bean id = "graphContext" class="com.jth.mydag.graph.GraphContext">
        <property name="vertices">
            <list>
                <ref bean="vertexA"/>
                <ref bean="vertexB"/>
                <ref bean="vertexC"/>
                <ref bean="vertexD"/>
                <ref bean="vertexE"/>
                <ref bean="vertexF"/>
                <ref bean="vertexG"/>
            </list>
        </property>
    </bean>


</beans>